/* styles.css */
body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: white;
  margin: 0;
  padding: 0;
  display: flex;
}

#container {
  display: flex;
  flex-grow: 1;
  width: 100%;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  flex-grow: 1;
}

h1 {
  font-size: 2.5em;
}

#search-container {
  display: flex;
  align-items: center;
}

input {
  margin-top: 10px;
  padding: 10px;
  font-size: 1em;
  width: 60%;
  border: none;
  border-radius: 5px;
}

.dropdown {
  position: relative;
  margin-left: 10px;
}

.dropbtn {
  background-color: #444;
  color: white;
  padding: 10px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.dropbtn:hover {
  background-color: #555;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  z-index: 1;
  border-radius: 5px;
}

.dropdown-content a {
  color: white;
  padding: 10px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #555;
}

/* Display the dropdown content when clicking the button */
.dropdown.show .dropdown-content {
  display: block;
}

#recommendations {
  margin-top: 10px;
  background-color: #333;
  border-radius: 5px;
  width: 60%;
  max-height: 200px;
  overflow-y: auto;
}

.recommendation-item {
  padding: 10px;
  cursor: pointer;
}

.recommendation-item:hover {
  background-color: #555;
}

#results {
  margin-top: 20px;
}
